{% extends 'base.html' %}

{% block content %}
<main class="container" py-5>
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App </h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Soluta optio expedita, ex laboriosam illum, sed voluptas sunt distinctio voluptatibus facere minus esse enim quis quasi animi quos similique at nesciunt. 
        Omnis eveniet corrupti tempore velit soluta quas ea reprehenderit expedita! 
        Dicta dolores amet ipsa numquam repellendus architecto modi ea possimus fugiat rerum labore nisi quae quas quisquam itaque, eveniet blanditiis! Rem ipsum quas tenetur explicabo magnam, 
        quod corrupti omnis sed molestias voluptatum vero praesentium pariatur, 
        ducimus temporibus voluptate. Saepe quae minus temporibus, sequi cupiditate laudantium tenetur possimus nostrum quas, 
        iure eveniet, harum esse voluptatum exercitationem vero in accusamus nam recusandae?</P>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>

</main>
{% endblock %}